<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

  <!--   
  <bean id="dataSource" 
        class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="${jdbc.driverClassName}"/>
    <property name="url" value="${jdbc.url}"/>
    <property name="username" value="${jdbc.username}"/>
    <property name="password" value="${jdbc.password}"/>
</bean>

<context:property-placeholder location="jdbc.properties"/>
   --> 
   
   <!--  <bean id="bds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://localhost:3306/dao"/>
    <property name="username" value="root"/>
    <property name="password" value="root"/>
</bean>
    --> 
    <bean id="bds"     class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
    <property name="driverClass" value="com.mysql.jdbc.Driver"/>
    <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/dao"/>
    <property name="user" value="root"/>
    <property name="password" value="root"/>
     <property name="initialPoolSize" value="4"/>
     <property name="maxPoolSize" value="30"/>
    
</bean>
    
   <!--  <bean id="bds"     class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://localhost:3306/dao"/>
    <property name="username" value="root"/>
    <property name="password" value="root"/>
     <property name="initialSize" value="4"/>
     <property name="maxActive" value="30"/>
</bean>
    --> 
  <bean id="template" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
  <constructor-arg ref="bds"/>  
  </bean>
  
  <bean id="empDao" class="com.nt.dao.EmployeeDaoImpl">
  <property name="npjt" ref="template"/>
  </bean>
  <bean id="empService" class="com.nt.service.EmployeeServiceImpl">
  <property name="dao" ref="empDao"/>
  </bean>
</beans>