<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- more bean definitions go here -->
  
  
  <!-- Main Bean cfg -->
   <bean id="obj" class="com.nt.Employee">
   <property name="id" >
   <value>101</value>
   </property>
   
   <property name="name"><value>Raja</value></property>
   <property name="city"><value>Hyderabad</value></property>
  </bean>
   
  
   <bean id="obj1" class="com.nt.Employee">
   <property name="id" >
   <value>102</value>
   </property>
   
   <property name="name"><value>Rani</value></property>
   <property name="city"><value>vizaq</value></property>
  </bean>
   
  
</beans>